@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --font-display: var(--font-display);
  --font-inter: var(--font-inter);

  --color-black: #313131;
  --color-primary: #004643;
  --color-background: #faf4d3;
  --color-primary-hover: #003b3b;

  
}
