@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);

  --color-black: #313131;
  --color-primary: #004643;
  --color-background: #faf4d3;
  --color-primary-hover: #003b3b;
  --color-background-hover: #e3ddb9;
}

html {
scroll-snap-type: y mandatory;
scroll-behavior: smooth;
}

section {
scroll-snap-align: start;
min-height: 100vh;
}

@media (max-width: 1024px) {
  html {
    scroll-snap-type: y proximity;
    scroll-behavior: auto;
  }
}
